fastapi
uvicorn
sqlalchemy
alembic
psycopg[binary]
python-dotenv
pyjwt[crypto]
python-jose[cryptography]
pydantic[email]
passlib[bcrypt]
pydantic
pydantic-settings
psycopg2-binary
bcrypt
python-multipart
pydub
torch==2.2.2+cu121
torchvision==0.17.2+cu121
torchaudio==2.2.2+cu121
--extra-index-url https://download.pytorch.org/whl/cu121
transformers
datasets[audio]
accelerate
numpy>=1.25,<2.0
aiofiles
python-Levenshtein