fastapi
uvicorn
sqlalchemy
alembic
psycopg[binary]
python-dotenv
pyjwt[crypto]
python-jose[cryptography]
pydantic[email]
passlib[bcrypt]
pydantic
pydantic-settings
psycopg2-binary
bcrypt
python-multipart